body {
    font-family:'Microsoft YaHei','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main_content {
    text-align: center;
}

.block {
    display: inline-block;
    width: 250px;
    margin-left: 10px;
    text-align: center;
    vertical-align: top;
}
.hs-service-icon .resource-list {
    display: block;
}
h3 {
    font-family:'Microsoft YaHei',sans-serif;
}
li {
    font-family:'Microsoft YaHei',sans-serif;
    text-align: left;
    list-style-type: none;
}

.resource-list {
    margin-left: 25px;
}

.require-list {
    margin-left: 40px;
}

.platform-list {
    margin-left: 30px;
}
.lab {
    width:280px;
}
.lab-list {
    margin-left:40px;
    padding-left: 0px;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}


/* footer */
footer {
    padding:35px 9% 0px 9%;
    overflow:hidden;
	bottom: 0;
	width: 100%;
	background-color: #dedede;
}
footer a {color:4c4c4c;}
.copyrightbox3 {margin-left: 10%;}
.copyrightbox {width:30%;float:left;}
.copyrightbox h3 {margin-bottom:12px;font-size:16px;color:#28a05a;}
.copyrightbox ul,.copyrightbox ul li {line-height:24px;padding-left: 0px;}
.copyrightbox p {line-height:24px;}
.copyrightbox select {margin:15px 2% 0 0;width:45%;height:24px;background:#f5f5f5;color:black;}