body{overflow-x: hidden;margin: 0;} 
#bd{width: 100%;max-width: 100%;overflow: hidden;position: relative;} 
/* module: sliders */ 
#sliders{
} 
#overflow{
	/*width: 100%*/
	width: 100%;
	margin: auto;
	overflow: hidden; 
} 
#sliders .inner{ 
	width: 500%; 
	transiton: all 1s linear; 
	-webkit-transition: all 1s linear; 
} 
#sliders article{ 
	float: left; 
	width: 20%; 
} 
#sliders article .info{ 
	position: absolute; 
	opacity: 0; 
	padding: 30px; 
	color: #ffffff; 
	font-family: Arial; 
	transition: opacity 0.1s ease-out; 
	-webkit-transform: translateZ(0); 
	-webkit-transition: opacity 0.1s ease-out; 
} 
#sliders article .info h1{ 
	font-size: 22px; 
	font-weight: bold; 
	margin: 0 0 5px; 
} 
#sliders article .info a{ 
	color: #ffffff; 
	text-decoration: none; 
} 
/* module: controls */ 
#controls{ 
	position: absolute;
	top: 45%;
	height: 50px; 
	width: 100%; 
} 
#controls label{ 
	display: none; 
	width: 50px; 
	height: 50px; 
	opacity: 0.3; 
	cursor: pointer; 
} 
#controls label:hover{ 
	opacity: 1; 
} 
/* module: active */ 
#active{ 
	position: absolute;
	bottom: 20px;
	width: 100%; 
	text-align: center; 
} 
#active label{ 
	display: inline-block; 
	width: 50px; 
	height: 10px; 
	margin-left: 10px;
	border-radius: 4px; 
	background: #bbb; 
	border-color: #777; 
	cursor: pointer;
} 
#active label:hover{ 
	background: #ccc; 
} 
/* input checked change style */ 
#slider1:checked ~ #active label:nth-child(1), 
#slider2:checked ~ #active label:nth-child(2), 
#slider3:checked ~ #active label:nth-child(3), 
#slider4:checked ~ #active label:nth-child(4), 
#slider5:checked ~ #active label:nth-child(5){ 
	background: #333; 
} 
#slider1:checked ~ #controls label:nth-child(5), 
#slider2:checked ~ #controls label:nth-child(1), 
#slider3:checked ~ #controls label:nth-child(2), 
#slider4:checked ~ #controls label:nth-child(3), 
#slider5:checked ~ #controls label:nth-child(4){ 
	display: block; 
	float: left;
	color: #9A9A9A;
	font: 20pt "demurecontrols";
	text-align: center;
	background-color: #F3F3F3;
	background-size: 100%;
	border-radius: 50%; 
	margin-left: 0px; 
}

#slider1:checked ~ #controls label:nth-child(5):after, 
#slider2:checked ~ #controls label:nth-child(1):after, 
#slider3:checked ~ #controls label:nth-child(2):after, 
#slider4:checked ~ #controls label:nth-child(3):after, 
#slider5:checked ~ #controls label:nth-child(4):after {
	line-height: 50px;
	content: '<';
}

#slider1:checked ~ #controls label:nth-child(2), 
#slider2:checked ~ #controls label:nth-child(3), 
#slider3:checked ~ #controls label:nth-child(4), 
#slider4:checked ~ #controls label:nth-child(5), 
#slider5:checked ~ #controls label:nth-child(1){ 
	display: block; 
	float: right; 
	color: #9A9A9A;
	font: 20pt "demurecontrols";
	text-align: center;
	background-color: #F3F3F3;
	background-size: 100%;
	border-radius: 50%;
	margin-right: 0px; 
} 
#slider1:checked ~ #controls label:nth-child(2):after, 
#slider2:checked ~ #controls label:nth-child(3):after, 
#slider3:checked ~ #controls label:nth-child(4):after, 
#slider4:checked ~ #controls label:nth-child(5):after, 
#slider5:checked ~ #controls label:nth-child(1):after{ 
	line-height: 50px;
	content: '>';
} 
#slider1:checked ~ #sliders article:nth-child(1) .info, 
#slider2:checked ~ #sliders article:nth-child(2) .info, 
#slider3:checked ~ #sliders article:nth-child(3) .info, 
#slider4:checked ~ #sliders article:nth-child(4) .info, 
#slider5:checked ~ #sliders article:nth-child(5) .info{ 
	opacity: 1; 
	transition: all 0.6s ease-out 1s; 
	-webkit-transition: all 0.6s ease-out 1s; 
} 
#slider1:checked ~ #sliders .inner{ 
	margin-left: 0; 
} 
#slider2:checked ~ #sliders .inner{ 
	margin-left: -100%; 
} 
#slider3:checked ~ #sliders .inner{ 
	margin-left: -200%; 
} 
#slider4:checked ~ #sliders .inner{ 
	margin-left: -300%; 
} 
#slider5:checked ~ #sliders .inner{ 
	margin-left: -400%; 
}

.slideImg {
	height: 500px;
	width: 100%;
}

input {
	display: none;
}
